ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}

#menu {
    font: bold 16px "malgun gothic";
    width: 800px;
    height: 50px;
    background: #ccc;
    color: black;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
}

#menu > ul > li {
    float: left;
    width: 140px;
    position: relative;
}
#menu > ul > li > ul {
    width: 130px;
    display: none;
    position: absolute;
    font-size: 14px;
    background: skyblue;
}
#menu > ul > li:hover > ul {
    display: block;
}
#menu > ul > li > ul > li:hover {
    background: orange;
    transition: ease 1s;
}
/* style.css */

/* label 스타일 조정 */
.button {
    display: flex;
    justify-content: center;
    margin: 5em;
}
label {
    cursor: pointer;
    font-size: 1em;
}

/* 못생긴 기존 input 숨기기 */
#uploadfile {
    visibility: hidden;
}
.buttonContainer {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 0.8em;
    cursor: pointer;
    margin: 0 auto;
}