
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>코드 유사도 검사</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<div id="menu">
    <ul>
        <li th:each="code : ${codes}"><a href="#"></a>
            <ul>
                <li ><a href="#">[[${codes.getStudentNum()}]]</a></li>
                <li ><a href="#">[[${codes.getSubjectName()}]]</a></li>
            </ul>
        </li>

    </ul>


</div>
<div class="dropdown">
    <button class="dropbtn" th:each="code : ${codes}"></button>
    <div class="dropdown-content">
        <a href="#">홈</a>
        <a href="#">회사소개</a>
        <a href="#">제품소개</a>
        <a href="#">오시는길</a>
    </div>
</div>
<div class="button">
    <label for="uploadfile">
        파일추가버튼
    </label>
</div>



<form class="button" method="post" enctype="multipart/form-data" action="/upload">
    <li>파일명<input  type="text" id="fileName" name="fileName"></li>
    <input  type="file" id="uploadfile" name="uploadfile" accept="*/*">
    <input class = "buttonContainer" type="submit"/>
</form>

</body>
</html>